.row
  .box.large-10.large-offset-1
    %ul.tabs.switchForm
      %li.large-4.columns.selected
        %a{:href => ""} My Polls
      %li.large-4.columns
        %a{:href => ""} Top Polls
      %li.large-4.columns
        %a{:href => ""} Current Polls
    .topPolls.tabDetails#tabCont_1
      %h5 My Polls
      %a.createNew{:href => "/polls/new"} 
        Create a new poll
      %ul
        - @my_polls.each do |my_poll|
          %li
            %a.pollQuestion{:href => "/polls/#{my_poll.id}"} #{my_poll.topic}
            -#%span.pollQuestion Top Polling Question
            - my_poll.field_options.each do |poll_option| 
              %strong #{poll_option}
              %strong #{my_poll.answers.where(:choice=>poll_option).to_a.size}
            %ul.stars
              %li
                %a{:href => "#"} 
              %li
                %a{:href => "#"} 
              %li
                %a{:href => "#"} 
              %li
                %a{:href => "#"} 
              %li
                %a{:href => "#"} 
    .topPolls.tabDetails#tabCont_2
      %h5 top polls
      %ul
        - @top_polls.each do |top_poll|
          %li
            %a.pollQuestion{:href => "/polls/#{top_poll.id}"} #{top_poll.topic}
            -#%span.pollQuestion Top Polling Question
            - top_poll.field_options.each do |poll_option| 
              %strong #{poll_option}
              %strong #{top_poll.answers.where(:choice=>poll_option).to_a.size}            
            %ul.stars
              %li
                %a{:href => "#"} 
              %li
                %a{:href => "#"} 
              %li
                %a{:href => "#"} 
              %li
                %a{:href => "#"} 
              %li
                %a{:href => "#"}
    .currentPolls.tabDetails#tabCont_3
      %h5 Current polls
      %ul
        - @latest_polls.each do |latest_poll|
          %li
            %a.pollQuestion{:href => "/polls/#{latest_poll.id}"} #{latest_poll.topic}
            -#%span.pollQuestion Top Polling Question            
            - latest_poll.field_options.each do |poll_option| 
              %strong #{poll_option}
              %strong #{latest_poll.answers.where(:choice=>poll_option).to_a.size} 
            %ul.stars
              %li
                %a{:href => "#"} 
              %li
                %a{:href => "#"} 
              %li
                %a{:href => "#"} 
              %li
                %a{:href => "#"} 
              %li
                %a{:href => "#"} 