.row 
  .large-8.large-offset-2
    %ul.no-bullet.switchForm 
      %li.large-6 
        %a{:href => "#"} Ask for Votes
      %li.large-6 
        %a{:href => "#"} Ask for Suggestions
.row        
  .large-8.large-offset-2
    = form_for(@poll, :url => polls_path(@poll),:html => {:class => "custom",:id => "tabCont_1",:remote=>true} ) do |f|       
      = f.text_field :topic, :placeholder=>"Topic"      
      = f.text_area :description, :cols => "30", :rows => "10", :placeholder => "Description"
      -#%textarea{:name => "", :cols => "30", :rows => "10", :placeholder => "Description"}
      %label{:for => "checkbox1"}
        Multiple Answers
        = f.check_box :multiple_ans, :checked => false
      -#%input{:type => "text", :placeholder=>"Option 1"}
      = f.fields_for :field_options do |options|
        = options.text_field :option1,:placeholder=>"Option 1"
      .addButton
        -#%input{:type => "text", :placeholder=>"Option 2"}
        = options.text_field :option2,:placeholder=>"Option 2"
        %div
          %button.small.button.success.right{:title => "Add More"}
            +
      .addButton.newAdded
        %input{:type => "text", :placeholder=>"Option 3"}
        %div
          %button.small.button.alert.right{:title => "Remove This"}
            &dash;
          %button.small.button.success.right{:title => "Add More"}
            +

    %form.custom.askForVotes#tabCont_2.tabDetails{:action => ""} 
      %input{:type => "text", :placeholder=>"Topic"}
      %textarea{:name => "", :cols => "30", :rows => "10", :placeholder => "Description"}
      .addButton
        %textarea{:name => "", :cols => "30", :rows => "10", :placeholder => "Add Suggestion"}
        %div
          %button.small.button.success.right{:title => "Add More"}
            +
      .addButton.newAdded
        %textarea{:name => "", :cols => "30", :rows => "10", :placeholder => "Add Suggestion"}
        %div
          %button.small.button.alert.right{:title => "Remove This"}
            &dash;
          %button.small.button.success.right{:title => "Add More"}
            +
