%row
  .box.large.large-offset-2
    = form_for(@poll, :url => poll_path(@poll),:html => {:class => "custom",:id => "tabCont_1", :method => :put} ) do |f|
      %h2
        #{@poll.topic}
      %p
        %strong Description:
        #{@poll.description}
      - @poll.field_options.each_with_index do |option,index|
        %label{:for => ""}
          - unless @poll.multiple_ans
            = radio_button_tag(:answers, option)
            #{option}
          - else
            = check_box("answers","#{index}",{},"#{option}", 0)
            #{option}

      = f.submit "Vote!", class: "button"
